* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logo{
   padding-left: 30px;
   padding-top: 10px;
   padding-right: 30px;
}

.menu{
    color: black;
    font-family: fantasy;
    padding: 15px;
    font-size: 22px;
    font-weight: 700;
    display: inline block;
    text-decoration: none;
}

.account{
    color: black;
    padding: 15px;
    font-size: 22px;
    font-weight: 700;
    display: inline block;
    text-decoration: none;
}

nav{
    height: 90px;
    display: flex;

    & .menu-item {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 1000;
    }
    & .account {
        display: flex;
        padding-left: 20px;
        padding-top: 30px;
        align-items: right;
        justify-content: right;
        width: 200;
        align-items: center;
    }
}

.search_bar{
    display: flex;
    background-color: rgb(255, 255, 255);
    margin-top: 30px;
    height: 45px;
    padding-right: 20px;
    justify-content: center;
       
}

.inp_search{
    padding-left: 10px;
    padding-right: 10px;
    width: 350px;
    background-color: #d9d9d9;
    border: none;
    outline: none;
}

.b_search{
    background-color: #3A6D8C;
    border: none;
    width: 100px;
    color: white;
}

.advice{
    padding-top: 40px;
    padding-left: 315px;
}

.list{
    height: 1000px;
    width: 900px;
   /*background-color: brown; 
    justify-self: right*/
}

.list1{
    display: flex;
    align-self: center;
    justify-self: center; 
    margin-top: 30px;
    background-color: #d9d9d9;
    height: 175px;
    width: 750px;
}

.img_ent{
    height: 150px;
    width: 170px;
    align-self: center;
    padding-left: 20px;
}

.list_del{
    padding-top: 20px;
    padding-left: 20px;

}

.detail{
    display: flex;
    text-decoration: none;
    height: 40px;
    width: 750px;
    background-color: #3A6D8C;
    justify-self: center;
    align-self: center;
    justify-content: center;
    align-items: center;
    color: white;
    

}